@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gennaro";
  font-weight: 400;
  src: url("/fonts/gennaro.ttf");
}

@font-face {
  font-family: "Break Regular";
  font-weight: 400;
  src: url("/fonts/breakRegular.ttf");
}

@font-face {
  font-family: "Clash Display M";
  font-weight: 400;
  src: url("/fonts/ClashDisplayM.otf");
}

@font-face {
  font-family: "Clash Display B";
  font-weight: 400;
  src: url("/fonts/ClashDisplayB.otf");
}

@font-face {
  font-family: "Hermano";
  font-weight: 400;
  src: url("/fonts/HermanoAltoStamp.ttf");
}

body {
  background-color: #111313;
}

#bg {
  background: conic-gradient(
    #2abdf6,
    #078fd6,
    #06a9cf,
    #09c0b3,
    #0ac7ab,
    #2abcf6
  );
}
