@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gennaro";
  font-weight: 400;
  src: url("/fonts/gennaro.ttf");
}

@font-face {
  font-family: "Break Regular";
  font-weight: 400;
  src: url("/fonts/breakRegular.ttf");
}

@font-face {
  font-family: "Clash Display M";
  font-weight: 400;
  src: url("/fonts/ClashDisplayM.otf");
}

@font-face {
  font-family: "Clash Display B";
  font-weight: 400;
  src: url("/fonts/ClashDisplayB.otf");
}

@font-face {
  font-family: "Hermano";
  font-weight: 400;
  src: url("/fonts/HermanoAltoStamp.ttf");
}

body {
  background-color: #111313;
}

#bg {
  background: conic-gradient(
    #2abdf6,
    #078fd6,
    #06a9cf,
    #09c0b3,
    #0ac7ab,
    #2abcf6
  );
}

/* Width and color */
::-webkit-scrollbar {
  width: 2px; /* Adjust the width as per your preference */
  background-color: #f1f1f1; /* Set the background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #2abdf6; /* Set the color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #078fd6; /* Set a different color on hover if desired */
}

html {
  scrollbar-width: 2px; /* Adjust the width as per your preference */
}

/* Color */
html {
  scrollbar-color: #2abdf6 #f1f1f1; /* Set the color of the scrollbar handle and track */
}

/* Handle for Firefox */
html {
  scrollbar-face-color: #2abdf6; /* Set the color of the scrollbar handle */
}

/* Handle on hover for Firefox */
html {
  scrollbar-face-color: #078fd6; /* Set a different color on hover if desired */
}

#app {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  overflow: -moz-scrollbars-none; /* Hide scrollbar for older versions of Firefox */
}

#app::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#bounce2 {
  animation: bounce2 4s infinite;
}

@keyframes bounce2 {
  0%,
  100% {
    transform: translateY(-35%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
